# ===== Python =====
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env_updatopia/

# SQLite databases
*.sqlite3

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# ===== VS Code =====
.vscode/

# ===== JetBrains =====
.idea/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Godot =====
.import/
.export/
*.godot
*.import/

# ===== Misc =====
*.env
